<div>
  <nav>
    <ul>
      <li>
        <form id="inline" action="/home" method="POST">
          <input id="hidden" name="email" value="<%= email %>" >
          <input id="hidden" name="password" value="<%= password %>">
          <input class="navbutton" type="submit" value="HOME">
        </form>
      </li>

      <li>
        <form id="inline" action="/allBooks" method="POST">
          <input id="hidden" name="email" value="<%= email %>" >
          <input id="hidden" name="password" value="<%= password %>">
          <input class="navbutton" type="submit" value="ALL BOOKS">
        </form>
      </li>

      <li>
        <form id="inline" action="/search" method="POST">
          <input id="hidden" name="email" value="<%= email %>" >
          <input id="hidden" name="password" value="<%= password %>">
          <input class="navbutton" type="submit" value="SEARCH">
        </form>
      </li>

      <li>
        <form id="inline" action="/favorites" method="POST">
          <input id="hidden" name="email" value="<%= email %>" >
          <input id="hidden" name="password" value="<%= password %>">
          <input class="navbutton" type="submit" value="FAVORITES">
        </form>
      </li>

      <div id="inline" style="position: absolute; right: 0%; padding-right: 1.5em;">
        <li>
          <form id="inline" action="/admin" method="POST">
            <input id="hidden" name="email" value="<%= email %>" >
            <input id="hidden" name="password" value="<%= password %>">
            <input class="navbutton" type="submit" value="ADMIN">
          </form>
        </li>

        <li>
          <form id="inline" action="/signout" method="POST">
            <input id="hidden" name="email" value="<%= email %>" >
            <input id="hidden" name="password" value="<%= password %>">
            <input class="navbutton" type="submit" value="SIGN OUT">
          </form>
        </li>
      </div>
    </ul>

  </nav>

</div>