<div>
  <nav>
    <ul>
      <li>
        <form id="inline" action="/home" method="POST">
          <input id="hidden" name="email" value="<%= email %>" >
          <input id="hidden" name="password" value="<%= password %>">
          <input type="submit" value="HOME">
        </form>
      </li>

      <li>
        <form id="inline" action="/allBooks" method="POST">
          <input id="hidden" name="email" value="<%= email %>" >
          <input id="hidden" name="password" value="<%= password %>">
          <input type="submit" value="ALL BOOKS">
        </form>
      </li>

      <li>
        <form id="inline" action="/search" method="POST">
          <input id="hidden" name="email" value="<%= email %>" >
          <input id="hidden" name="password" value="<%= password %>">
          <input type="submit" value="SEARCH">
        </form>
      </li>
    </ul>

  </nav>

</div>