<!DOCTYPE html>

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/navBar.css">
    <link rel="stylesheet" type="text/css" href="/css/allBooks.css">
    <%- include('../partials/navBar'); %>
    <title>LibroTecha</title>
</head>

<body>
    <h1>All Books</h1>

    <div id="mainp">
        <p>
            <% books.forEach( (book, i) => { %>
                <form style="display: inline;" action="/" method="POST">
                    &nbsp;
                    <input id="heart" src="/assets/red_heart.png" type="image" alt="submit">
                </form>

                <form style="display: inline;" action="/book" method="POST">
                    <input id="hidden" name="email" value="<%= email %>">
                    <input id="hidden" name="password" value="<%= password %>">
                    <input id="hidden" name="book_id" value=<%= book.book_id %>>
                    <input id="bookbutton" type="submit" value=" <%= book.title %>">
                </form>

                <br>

            <% }); %>
        </p>
    </div>
</body>
</html>