<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/navBar.css">
    <link rel="stylesheet" type="text/css" href="/css/allBooks.css">
    <%- include('../partials/navBar'); %> 
    <title>LibroTecha</title>
</head>

<body>
    <h1>All Books</h1>
    <br>
    <br>

    <div id="mainp">
        <p>
            <% books.forEach( (book, i) => { %>
                <form style="display: inline;" action="/book" method="POST">
                    <input id="hidden" name="email" value="<%= email %>">
                    <input id="hidden" name="password" value="<%= password %>">
                    <input id="hidden" name="book_id" value=<%= book.book_id %>>
                    <input id="bookbutton" type="submit" value="<%= i+1 %>. <%= book.title %>">
                </form>
                <br>
            <% }); %>
        </p>
    </div>
</body>
</html>