<!DOCTYPE html>

<html>

<head>
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
            history.replaceState(null, '', '/');
        }
         
        setTimeout("preventBack()", 0);
         
        window.onunload = function () { null };
    </script>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/navBar.css">
    <link rel="stylesheet" type="text/css" href="/css/landing.css">
    <%- include('../partials/navBar'); %> 
    <title>LibroTecha</title>
</head>

<body>
    <h1><%= book.title %></h1>


    <div id="mainp">
        <p style="text-align: left;">
            <strong>Author: </strong> <%= book.full_name %><br>
            <strong>Author's Year of Birth: </strong> <%= book.birth_year %><br>
            <strong>Author's Hometown: </strong> <%= book.hometown %><br>
            <strong>Page Count: </strong> <%= book.num_pages %><br>
            <strong>Binding Type: </strong> <%= book.binding %><br>
            <strong>Rating: </strong> <%= book.rating %><br>
            <strong>Publisher: </strong> <%= book.publisher %><br>
            <strong>Year Published: </strong> <%= book.year_published %><br>
        </p>
    </div>

</body>
</html>