<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/navBar.css">
    <link rel="stylesheet" type="text/css" href="/css/landing.css">
    <%- include('../partials/navBar'); %> 
    <title>LibroTecha</title>
</head>

<body>
    <h1><%= book.title %></h1>
    <p>
        author: <%= book.full_name %><br>
        number of pages: <%= book.num_pages %><br>
        rating: <%= book.rating %><br>
        publisher: <%= book.publisher %><br>
        year published: <%= book.year_published %><br>
    </p>
    <br>
    <br>

</body>
</html>